<app-navbar></app-navbar>
     <mat-grid-list cols="2" rowHeight="1:1">
       <mat-grid-tile>
     <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <table class="example-full-width" cellspacing="0">
            <br />
            <tr>
              <td>
                <mat-form-field class="example-full-width" style="color: black;">
                    <input matInput placeholder="Username" type="text" id="username" [formControl]="username" class="form-control" />
                </mat-form-field>
              </td>
            </tr>
            <br />
            <br />
            <tr>
            <td><mat-form-field class="example-full-width" style="color: black;">
                <input matInput placeholder="Password" type="password" id="password" [formControl]="password" class="form-control" />
            </mat-form-field></td>
          </tr></table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" class="btn1" (click)='login()'>Login</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Signup</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width" style="color: black;">
                    <input matInput placeholder="Username" type="text" id="usernameS" [formControl]="usernameS" class="form-control" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
                <td>
                  <mat-form-field class="example-full-width" style="color: black;">
                      <input matInput placeholder="Email" type="email" id="email" [formControl]="email" class="form-control" />
                  </mat-form-field>
                </td>
              </tr>
            <tr>
            <td><mat-form-field class="example-full-width" style="color: black;">
                <input matInput placeholder="Password" type="password" id="passwordS" [formControl]="passwordS" class="form-control" />
            </mat-form-field></td>
          </tr></table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button type="submit" class="btn1" (click)='signUp()'>Submit</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  </mat-grid-list> 
