<body style="background-image: url('../assets/phone.jpg'); width: 100vw; height: 100vh; background-size: cover;">
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<h1 class="title"> Contact </h1>
<mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-title>Elijah Smith</mat-card-title>
                <mat-card-content (click)='onNavigate()' class="links">https://github.com/Eli-Smith</mat-card-content>
                <mat-card-content (click)='onNavigate1()' class="links">https://www.linkedin.com/in/elijah-smith-092198144/</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                <mat-card-title>Karina Rodriguez</mat-card-title>
                <mat-card-content (click)='onNavigate2()' class="links">https://github.com/kerv91</mat-card-content>
                <mat-card-content (click)='onNavigate3()' class="links">https://www.linkedin.com/in/karina-rodriguez-3454a594/</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                    <mat-card-title>James Higgins</mat-card-title>
                    <mat-card-content (click)='onNavigate4()' class="links">https://github.com/jhiggins3231</mat-card-content>
                    <mat-card-content (click)='onNavigate5()' class="links">https://www.linkedin.com/in/jhiggins3231/</mat-card-content>
                    <br />
                </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</body>