<body style="background-image: url('../assets/gallery.jpeg'); width: 100vw; height: 100vh; background-size: cover;">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <h1 class="title"> Project Gallery </h1>
    <mat-card class="galleryCard">
    <ul *ngFor="let proj of galleryProjects|slice:0:5;" style='color: white'>
        <li class="cardInfo">Name: {{ proj.projectName }}</li>
        <li class="cardInfo">Link: <a target='_blank' href='{{ proj.location }}'> View Project</a></li>
        <li class="cardInfo">Description: {{ proj.description }}</li>
        <ul *ngFor='let comment of proj.comments'>
            <li> {{ comment.content }}</li>
        </ul>
        <a routerLink="/comments" [state]="{ id: proj.id, name: proj.projectName, description: proj.description, location: proj.location, comments: proj.comments}">
            <button mat-raised-button>
                Comments
            </button>
        </a>
    </ul>
    </mat-card>
    </body> 