<body style="background: url(../assets/abstract.jpeg); width: 100vw; height: 100vh; background-size: cover;">
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<h1 class="title">Projects</h1>
<br /><br /><br />
<br /><br /><br />
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="example-container">
<div>
    <mat-form-field class="input">
          <input matInput placeholder="Project Name" [formControl]="projectName" class="place">
    </mat-form-field>
    <mat-form-field class="input">
          <input matInput placeholder="Brief Description" [formControl]="description" class="place">
    </mat-form-field>
    <mat-form-field class="input">
          <input matInput placeholder="Link to Project" [formControl]="location" class="place">
    </mat-form-field>
    <mat-form-field>
    <mat-select required class="select" placeholder="Badge" [formControl]="badge">
          <mat-option value="Gold">Gold</mat-option>
          <mat-option value="Blue">Blue</mat-option>
          <mat-option value="Red">Red</mat-option>
    </mat-select>
    </mat-form-field>
    <button mat-raised-button class="input" (click)='[addProjects(), getByBadge1()]'>Add</button>
</div>
</mat-grid-tile>

<mat-grid-tile class="example-container1">
  <div class="tableSetup">
    <mat-select required class="searchBadge" placeholder="Badge" [formControl]="byBadge">
      <mat-option value="Gold">Gold</mat-option>
      <mat-option value="Blue">Blue</mat-option>
      <mat-option value="Red">Red</mat-option>
    </mat-select>
    <button class="searchButton" (click)='getByBadge()'>Search</button>
    <perfect-scrollbar style="max-width: 650px; max-height: 300px; color: purple;" [config]="config">
    <table mat-table [dataSource]="dataSource" class="tableData">

            <ng-container matColumnDef="Project Name">
              <th mat-header-cell *matHeaderCellDef>Project Name</th>
              <td mat-cell *matCellDef="let proj">{{proj.projectName}}</td>
            </ng-container>

            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let proj">{{proj.description}}</td>
            </ng-container>

            <ng-container matColumnDef="Location">
              <th mat-header-cell *matHeaderCellDef>Location</th>
              <td mat-cell *matCellDef="let proj">{{proj.location}}</td>
            </ng-container>

            <ng-container matColumnDef="Badge">
              <th mat-header-cell *matHeaderCellDef>Badge</th>
              <td mat-cell *matCellDef="let proj">{{proj.badge}}</td>
            </ng-container>

            <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let proj">
                    <button mat-icon-button [matMenuTriggerFor]="menu1">
                  <mat-icon>more_vert</mat-icon>
                    </button></td>
                  </ng-container>
                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                </table>
              </perfect-scrollbar>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </body>
                <mat-menu #menu1="matMenu">
                    <button mat-menu-item routerLink="/projects">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                  </button>
                  <button mat-menu-item routerLink="/projects">
                    <mat-icon>update</mat-icon>
                    <span>Update</span>
                  </button>
