<h1 class="title">Projects</h1>
<br /><br /><br />
<br /><br /><br />
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="example-container">
<div>
    <mat-form-field class="input">
          <input matInput placeholder="Project Name" [formControl]="newProjectName" class="place" [value]='name' required>
    </mat-form-field>
    <mat-form-field class="input">
          <input matInput placeholder="Brief Description" [formControl]="newDescription" class="place" [value]='description' required>
    </mat-form-field>
    <mat-form-field class="input">
          <input matInput placeholder="Link to Project" [formControl]="newLocation" class="place" [value]='location' required>
    </mat-form-field>
    <mat-form-field>
    <mat-select required class="select" placeholder="Badge" [formControl]="newBadge" [value]='badge' required>
          <mat-option value="Gold">Gold</mat-option>
          <mat-option value="Blue">Blue</mat-option>
          <mat-option value="Red">Red</mat-option>
    </mat-select>
    </mat-form-field>
    <button mat-raised-button class="input" (click)='updateProject()'>Update</button>
</div>
</mat-grid-tile>