<body style="background: url(../assets/mountain.jpeg); width: 100vw; height: 100vh; background-size: cover;">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <mat-tab-group class="tabs" animationDuration="2000ms" mat-align-tabs='center' style="width: 50vw;">
                <mat-tab label="How To" class="label" > How To </mat-tab>
                <mat-tab label="Our Project" class="label" >
                        <p class="projectInfo">For our Red Badge project we decided to make something that could benefit future students here at Eleven Fifty. Throughout the course we often found ourselves asking for examples of past projects or portfolios. Now thanks to our app we have a place for everyone to find, upload, and ask questions about projects done by other EFA students.</p>    
                </mat-tab>
                <mat-tab label="Our Group" class="label" > 
                    <mat-list>
                            <mat-list-item class="listItem"> Elijah Smith </mat-list-item>
                            <mat-list-item class="listItem"> Karina Rodriguez </mat-list-item>
                            <mat-list-item class="listItem"> James Higgins </mat-list-item>
                    </mat-list>
                </mat-tab>
          </mat-tab-group>
    </body>
